body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

.pass {
    color: green;
}

.fail {
    color: red
}

.skip {
    background-color: yellow;
}

.tag-class::before {
    font-weight: bolder;
    color: red;
    content: "* ";
}

.old-price {
    color: red;
    text-align: right;
    text-decoration: line-through;
}

.new-price {
    text-align: right;
}